.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.tblHeading {
	margin-left: 15%;
	margin-right: 15%;
	width: 80%;
}

.tblCell {
	text-align: center;
}

.tabDiv {
	margin-left: 5%;
	margin-right: 5%;
	border-style: dotted;
}
/* Styles for tab labels */
.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
	width: 30%;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: green;
    font-weight: 700;
	width: 30%;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}

p {
  font-family: Lato;
}