<table class="tblHeading">
	<td class="tblCell">
		<button mat-icon-button (click)="showOnClick('NPCList')">
			<span>NPC List</span>
		</button>
	</td>
	<td class="tblCell">
		<mat-toolbar color="primary">
			<button mat-icon-button [matMenuTriggerFor]="spells" #menuTrigger01="matMenuTrigger"
				(mouseover)="menuTrigger01.openMenu()">
				<mat-icon>Spells</mat-icon>
			</button>
			<mat-menu #spells="matMenu" [overlapTrigger]="false">
				<span (mouseleave)="menuTrigger01.closeMenu()">
					<button mat-menu-item (click)="showOnClick('SpellList')">
						<span>List</span>
					</button>
					<button mat-menu-item (click)="showOnClick('SpellEdit')">
						<span>Edit</span>
					</button>
				</span>
			</mat-menu>
		</mat-toolbar>
	</td>
	<td class="tblCell">
		<mat-toolbar color="primary">
			<button mat-icon-button [matMenuTriggerFor]="talents" #menuTrigger02="matMenuTrigger"
				(mouseover)="menuTrigger02.openMenu()">
				<mat-icon>Talents</mat-icon>
			</button>
			<mat-menu #talents="matMenu" [overlapTrigger]="false">
				<span (mouseleave)="menuTrigger02.closeMenu()">
					<button mat-menu-item (click)="showOnClick('TalentList')">
						<span>List</span>
					</button>
					<button mat-menu-item (click)="showOnClick('TalentEdit')">
						<span>Edit</span>
					</button>
				</span>
			</mat-menu>
		</mat-toolbar>
	</td>
</table>

<div>
	<app-head></app-head>
	<app-body></app-body>
</div>

<router-outlet></router-outlet>