<p>npcnames works! Does the list??</p>
<ul>
	<li *ngFor="let name of names">
		{{name?.name}}
	</li>
</ul>
<br />

<button (click)="printNames()">Print</button>
<br /><br />


<p>
	<label>NPC LIST&nbsp;&nbsp;</label>

	<select [(ngModel)]="selectedName" [ngModelOptions]="{standalone: true}" (change)="onOptionsSelected(selectedName)">
		<option></option>
		<option *ngFor="let name of names">{{name.name}}</option>
	</select>

</p>
<br/>
<br/>
<div *ngIf="(singleNPC != null)">
	Name:&nbsp;&nbsp;{{singleNPC.name}}<br />
	ST:&nbsp;&nbsp;{{singleNPC.st}}<br />
	DX:&nbsp;&nbsp;{{singleNPC.dx}}<br />
	IQ:&nbsp;&nbsp;{{singleNPC.iq}}<br />
	MA:&nbsp;&nbsp;{{singleNPC.ma}}<br />
</div>