<p>npcnames works! Does the list??</p>
<ul>
	<li *ngFor="let name of names">
		{{name?.name}}
	</li>
</ul>
<br />

<button (click)="printNames()">Print</button>
<br /><br />

<form>

	<p>
		<label>NPC LIST&nbsp;&nbsp;</label>

		<select [(ngModel)]="selectedName" [ngModelOptions]="{standalone: true}" (change)="onOptionsSelected(selectedName)">
			<option></option>
			<option *ngFor="let name of names">{{name.name}}</option>
		</select>

	</p>
<div *ngIf="(singleNPC != null)">
	{{singleNPC.name}}<br/>
	{{singleNPC.st}}<br/>
	{{singleNPC.dx}}<br/>
	{{singleNPC.iq}}<br/>
	{{singleNPC.ma}}<br/>
</div>
</form>