.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.tblHeading {
	margin-left: 15%;
	margin-right: 15%;
	width: 80%;
}

.tblCell {
	text-align: center;
}